---
import Layout from "../layouts/Layout.astro";
import { Image } from "astro:assets";
import { Icon } from "astro-icon/components";

import hero1Img from "@assets/images/fighting.jpeg";
import shaq from "@assets/images/marcosfight.jpeg";
import lifting from "@assets/images/benchpress.jpg";
import heroVid from "@assets/videos/nav.mp4";

import gallery1 from "@assets/images/gallery/gallery1.jpg";
import gallery2 from "@assets/images/gallery/gallery2.jpg";

import gallery4 from "@assets/images/gallery/gallery4.jpg";

const galleryImgs = [gallery1, gallery2,  gallery4];

import PricingCard from "@components/PricingCard.astro";

const plans = [
  {
    name: "Martial Arts PT",
    duration: "1 hour",
    attributes: [
      "Form correction",
      "New techniques",
      "Drills",
      "Unlock diverse body movements like head kicks",
      "A base foundation to assist in  preventing injuries",
    ],
    schemes: [
      {
        name: "Solo",
        price: "60",
      },
      {
        name: "Partnered",
        price: "35",
        isEach: true,
      },
      {
        name: "Class of 4",
        price: "25",
        isEach: true,
      },
    ],
  },
  {
    name: "Gym + Plan",
    duration: "1.5 hours",
    attributes: [
      "A pathway to achieve your goal",
      "Learn how each part of your body functions for form",
      "Tailored program for conditioning, muscle, weight loss",
      "Show how exercises are done correctly",
      "Programs tailored to increase your martial arts career",
    ],
    schemes: [
      {
        name: "Solo",
        price: "80",
      },
    ],
  },
];

import config from "@data/config.json";
---

<Layout title={config.businessName}>
  <section
    class="w-full relative text-white bg-black overflow-hidden z-10 pt-16 max-md:pt-8"
  >
    <div
      class="grid grid-cols-3 gap-16 max-md:gap-8 max-md:grid-cols-1 place-content-end relative z-30 max-w-screen-xl mx-auto px-2 max-md:pb-16 pb-8"
    >
      <div
        class="flex md:col-span-2 flex-col items-start justify-start w-full gap-8 select-none"
      >
        <div class="text-5xl sm:text-6xl md:text-7xl lg:text-8xl">
          <h1 class="">MARTIAL ARTS &</h1>
          <h1 class="">BODYBUILDING</h1>
          <h1 class="text-primary font-bold">WITH KNOWLEDGE</h1>
        </div>
        <div class="relative">
          <h1
            class="heroText text-left max-w-md md:max-w-2xl lg:max-w-3xl text-2xl uppercase font-bold text-white max-md:text-sm max-md:max-w-xs"
          >
            My aim is to help you prepare for your novice and amateur career so
            you can get into the fight world safely without injury. I teach form
            and technique ensuring you're well equipped.
          </h1>
        </div>
        <div class="flex-col sm:flex-row flex gap-8">
          <a
            href="#contact"
            target=""
            class="btn bg-primary text-white hover:bg-white hover:text-primary px-16 font-extrabold btn-lg"
            >Book a lesson</a
          >
        </div>
      </div>
      <div
        class="aspect-[9/16] w-64 place-self-end justify-self-start max-md:justify-self-center max-md:-z-10 flex flex-col items-center gap-1"
      >
        <div class="relative">
          <Icon
            name="mdi:play"
            class="text-4xl text-white rounded-full border-2 absolute bottom-2 left-2 max-md:hidden"
          />
          <video
            id="heroVideo"
            autoplay
            playsinline={true}
            loop
            muted
            class="z-10 rounded-2xl w-full h-full object-cover object-center hover:cursor-pointer"
          >
            <source src={heroVid} type="video/mp4" />
            Your browser does not support the video tag.
          </video>
        </div>
        <h1 class="italic">Pad holding for all levels</h1>
      </div>
    </div>
    <div id="heroImgWrapper" class="absolute top-0 left-0 w-full h-full">
      <div
        class="absolute top-0 left-0 w-full h-full bg-gradient-to-r from-black to-transparent z-10"
      >
      </div>
      <Image
        src={hero1Img}
        alt="hero img"
        class="heroImg object-cover absolute top-0 left-0 w-full h-full"
      />
    </div>
  </section>
  <section class="bg-black py-16 max-md:py-8 px-4" id="classes">
    <div class="max-w-screen-xl mx-auto flex flex-col gap-20 max-md:gap-12">
      <div class="flex items-center flex-col gap-8 text-center">
        <div class="relative">
          <h1
            class="text-white font-extrabold text-7xl md:text-8xl p-6 bg-red-600 z-50 shadow-lg transform -skew-x-6"
          >
            MY CLASSES
          </h1>
        </div>
        <p
          class="z-50 text-xl font-light text-gray-300 max-w-2xl leading-relaxed"
        >
          {config.credentials}
        </p>
      </div>
      <div class="grid grid-cols-1 md:grid-cols-2 gap-12 place-items-center">
        <div
          class="relative w-full h-96 group transform transition-transform duration-300"
        >
          <div
            class="absolute group inset-0 border-[16px] rounded-2xl border-red-700 overflow-hidden shadow-2xl"
          >
            <Image
              src={shaq}
              alt="Muay Thai Class"
              class="object-cover scale-110 group-hover:scale-100 transition w-full h-full opacity-30 duration-300 group-hover:opacity-70"
            />
          </div>
          <div class="absolute inset-0 flex items-center justify-center">
            <p class="text-white text-4xl font-bold z-10 tracking-wider">
              MARTIAL ARTS
            </p>
          </div>
        </div>
        <div
          class="relative w-full h-96 group transform transition-transform duration-300 group"
        >
          <div
            class="absolute group inset-0 border-[16px] rounded-2xl border-red-700 overflow-hidden shadow-2xl"
          >
            <Image
              src={gallery1}
              alt="Bodybuilding Class"
              class="object-cover w-full scale-110 group-hover:scale-100 h-full transition opacity-30 duration-300 group-hover:opacity-70"
            />
          </div>
          <div class="absolute inset-0 flex items-center justify-center">
            <p class="text-white text-4xl font-bold z-10 tracking-wider">
              BODYBUILDING
            </p>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section class="my-6 flex flex-col items-center gap-8" id="gallery">
    <h1
      class="text-white font-extrabold text-7xl md:text-8xl p-6 bg-red-600 z-50 shadow-lg transform -skew-x-6"
    >
      GALLERY
    </h1>

    <div class="flex flex-col gap-2">
      <div class="carousel h-[500px] max-md:h-96">
        {
          galleryImgs.map((img, index) => (
            <div class="carousel-item">
              <Image
                src={img}
                class="object-cover w-full max-md:w-72 h-full"
                alt={`carousel img ${index}`}
              />
            </div>
          ))
        }
      </div>
      <div
        class="max-md:hidden flex gap-2 items-center w-full justify-center opacity-75"
      >
        <h1 class="italic">scroll using</h1>
        <kbd class="kbd kbd-xs">Shift</kbd> +
        <Icon name="mdi:mouse-scroll-wheel" />
        <h1 class="italic">or</h1>
        <Icon name="lucide:touchpad" />
      </div>
      <div
        class="md:hidden flex gap-2 items-center w-full justify-center opacity-75"
      >
        <h1 class="italic">scroll right to see more</h1>
      </div>
    </div>
  </section>

  <section
    id="mission"
    class="max-w-screen-xl text-center flex items-center flex-col mx-auto px-2 py-12 max-md:py-8 gap-8"
  >
    <h1
      class="text-white font-extrabold text-7xl md:text-8xl p-6 bg-red-600 z-50 shadow-lg transform -skew-x-6"
    >
      MY MISSION
    </h1>
    <div
      class="flex flex-col text-left text-gray-300 text-xl leading-relaxed max-w-3xl mx-auto space-y-4"
    >
      <p class="font-semibold text-2xl text-primary">
        Imagine being prepared for your first ring fight with all tools needed?
        Or the body of your dreams for the date planned at the beach?
      </p>
      <p>Here's how I will make it happen:</p>
      <ul class="list-none space-y-3">
        <li class="flex items-start">
          <span class="text-primary mr-2">➤</span>
          <span
            ><strong class="text-white">Understanding Yourself:</strong> I will develop/grow
            your understanding of your body and educate your mind with technique
            so you will have the muscle memory and skill to perform in any style
            of your choosing!</span
          >
        </li>

        <li class="flex items-start">
          <span class="text-primary mr-2">➤</span>
          <span
            ><strong class="text-white">Muscle Development:</strong> Learn how to
            forge the body of your goals and dreams as we take you through each life
            step required to get there.</span
          >
        </li>
      </ul>
      <p class="text-2xl font-bold text-primary mt-4">
        Your goals aren't impossible, so let me make reaching it easier!
      </p>
      <a
        href="#contact"
        class="bg-primary hover:bg-white hover:text-primary text-white font-bold py-3 px-6 rounded-lg text-center hover:bg-primary-dark transition duration-300 ease-in-out mt-4 inline-block"
        >Start Your Champion's Journey</a
      >
    </div>
  </section>

  <section id="pricing" class="flex flex-col my-8 gap-16">
    <h1
      class="text-white font-extrabold text-7xl md:text-8xl p-6 bg-red-600 z-50 shadow-lg transform -skew-x-6 uppercase w-fit mx-auto"
    >
      Pricing
    </h1>
    <div
      class="max-w-screen-lg mx-auto grid grid-cols-2 max-md:grid-cols-1 gap-16 max-md:gap-8 px-4"
    >
      {plans.map((plan) => <PricingCard {...plan} />)}
    </div>
  </section>

  <section
    id="contact"
    class="flex flex-col gap-16 py-16 max-w-screen-lg mx-auto px-2"
  >
    <h1 class="text-9xl uppercase font-extrabold text-center text-white">
      Ready to train?
    </h1>
    <div class="flex flex-col gap-5 items-center">
      <p class="text-center italic text-2xl">
        via my phone number: <span
          ><a
            class="link link-secondary"
            href={config.socials.filter((social) => social.name == "phone")[0]
              .url}
          >
            {
              config.socials
                .filter((social) => social.name == "phone")[0]
                .url.split("+64")[1]
            }</a
          ></span
        >
      </p>
      <p class="text-center text-2xl italic">or via the form below</p>
    </div>

    <form
      name="contact"
      method="POST"
      data-netlify="true"
      class="bg-red-700 p-8 rounded-2xl py-16 max-md:py-8 flex flex-col gap-2"
    >
      <label for="fname" class="text-white">First name</label>
      <input
        autocomplete="on"
        type="text"
        id="fname"
        name="firstname"
        required
        class="form-input px-4 py-3 w-full rounded bg-stone-100 text-black"
      />

      <label for="lname" class="text-white">Last name</label>
      <input
        autocomplete="on"
        type="text"
        id="lname"
        name="lastname"
        class="form-input px-4 py-3 w-full rounded bg-stone-100 text-black"
      />

      <label for="ph" class="text-white">Phone number</label>
      <input
        autocomplete="on"
        type="number"
        id="ph"
        name="ph"
        required
        class="form-input px-4 py-3 w-full rounded bg-stone-100 text-black"
      />
      <label for="email" class="text-white">Email</label>
      <input
        autocomplete="on"
        type="email"
        name="email"
        id="email"
        required
        class="form-input px-4 py-3 w-full rounded bg-stone-100 text-black"
      />
      <label for="message" class="text-white">What is your goal?</label>
      <textarea
        name="message"
        id="message"
        class="form-input px-4 py-3 rounded w-full bg-stone-100 text-black"
        cols="30"
        rows="10"></textarea>
      <div class="flex w-full justify-center my-6">
        <input type="submit" value="Submit" class="btn btn-secondary" />
      </div>
    </form>
  </section>
</Layout>

<script>
  import { gsap } from "gsap";
  import { ScrollTrigger } from "gsap/ScrollTrigger";

  gsap.registerPlugin(ScrollTrigger);

  const introTimeline = gsap.timeline();
  introTimeline.from(".heroText", {
    delay: 0.5,
    y: "50%",
    stagger: 0.2,
    opacity: 0,
  });

  const heroVideo = document.getElementById("heroVideo") as HTMLVideoElement;
  if (heroVideo) {
    heroVideo.addEventListener("click", () => {
      if (!document.fullscreenElement) {
        heroVideo.requestFullscreen();
      }
    });
  }

  document.addEventListener("fullscreenchange", () => {
    if (!document.fullscreenElement) {
      heroVideo?.classList.add("hover:cursor-pointer");
    } else {
      heroVideo?.classList.remove("hover:cursor-pointer");
    }
  });
</script>
